h3 {
  width: 200px;
  color: #c7ccd1;
  font-family: sans-serif;
  text-align: center;
  font-size: 13px;
}
.logo {
  margin: 10px;
  border-radius: 5px;
  height: 270px;
  width: 200px;
}

.link {
  height: 85%;
  border-radius: 12px;
  text-decoration: none;
}
